

 label{
    font-weight: bold;
}

/* #cv-form{
    display: none;
} */

#cv-template{
    display: none;
}

.my-image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.background{
    background-color: rgb(3, 49, 49);
}

a{
    text-decoration: none;
}
i{
    margin-right: 15px;
}
.color{
    color: #fff;
}

button:hover{
    color: #000;
}